
# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional compressed files (npm generated package, zip, etc)
/*.tgz
/*.zip

# Optional REPL history
.node_repl_history
